<div class="row">
	<div class="col-sm-6 col-md-3">
		<h3><%= @user.first_name + " " + @user.last_name %></h3>
	    <div class="thumbnail">
		      <%= image_tag @user.medium_avatar_url, alt: "Profile photo", class: "center-block" %>
		      <% unless @user.about_me.empty? %>
			      <div class="caption">
			        	<h4>About me:</h4>
			        	<p><%= @user.about_me %></p>
			      </div>
		      <% end %>
		      <div class="caption">
		        	<h4>Age:</h4>
		        	<p><%= age(@user.birth_date)%> years</p>
		      </div>
	    </div>
  	</div>
	<div class="col-md-9">
		
			<div class="row">
				<div class="col-md-6">
					<h3 class="youtube">
						<span class="you"><%= action_name == 'home' ? 'Your' : 'All' %></span>
						<span class="tube">Posts</span>
					</h3>
				</div>
				<div class="col-md-6">
					<% if action_name == 'home' %>
						<!-- Trigger the modal with a button -->
						<button type="button" class="btn btn-danger btn-md pull-right" data-toggle="modal" data-target="#myModal">New post</button>
						<!-- Modal -->
						<div id="myModal" class="modal fade" role="dialog">
							<div class="modal-dialog">

								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Make new post!</h4>
									</div>
									<div class="modal-body">
										<%= render 'posts/form' %>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>

							</div>
						</div>
					<% end %>
				</div>
			</div>
			
		
		<div class="panel panel-default">
			<div class="panel-body" id="your_posts_panel" >
				
				<%= render @posts, author: @user %>
				<!-- POSTS -->
			</div>
		</div>	
	</div>
</div>